*.so
*.so.1
*.so.1.0.0
*.so.1.0.1
*.o_64
*.tpl
*.a
*.d
*.o
*.~
*~
*.#
*.8
*.bak
*.properties
cscope.files
cscope.out
doxygen.out
bgagentd
src/master/command/alias_wait
src/master/command/bgmaster_server_log_level
src/master/command/bgmaster_server_refresh_config
src/master/command/binary_status
src/master/command/binary_wait
src/master/command/fail_over
src/master/command/get_errors
src/master/command/get_history
src/master/command/list_agents
src/master/command/list_clients
src/master/command/master_start
src/master/command/master_status
src/master/command/master_stop
src/master/command/monitor_master
src/master/protocol/
/latex
/src/master/server/bgmaster_server
/html
.cache
test/integration/dpm_install/
test/integration/logs/
test/integration/security/
