
# DPM configuration file

[security.ca]
    # Certificate Authority.

certificate = %%CERTIFICATE_DIR%%/ca/cert.pem
    # File containing the root CA (certificate authority) certificate.
    # This property is optional, but either certificate or
    # certificates_dir must be set or use_default_paths must be 'true'.

# certificates_dir = %%CERTIFICATE_DIR%%/root/
    # Directory containing root CA certificates.
    # This property is optional, but either certificate or
    # certificates_dir must be set or use_default_paths must be 'true'.

use_default_paths = false
    # Set to 'true' to use the system default root CA paths.
    # If this is 'false' then either certificate or certificates_dir
    # must be set.

keystore = %%CERTIFICATE_DIR%%/ca/cert.jks
    # File containing the root CA certificate in Java Keystore format.


[security.admin]
    # Administrative certificate.

certificate = %%CERTIFICATE_DIR%%/admin/cert.pem
    # File containing the Blue Gene administrative certificate.

key_file = %%CERTIFICATE_DIR%%/admin/key.pem
    # File containing the Blue Gene administrative private key.

cn = Blue Gene administrative
    # The certificate provided by the server or administrator must have this CN
    # (common name).

keystore = %%CERTIFICATE_DIR%%/admin/key.jks
    # File containing the Blue Gene administrative certificate in Java Keystore format (jks).


[security.command]
    # Command certificate.

certificate = %%CERTIFICATE_DIR%%/command/cert.pem
    # File containing the Blue Gene command certificate.

key_file = %%CERTIFICATE_DIR%%/command/key.pem
    # File containing the Blue Gene command private key.

cn = Blue Gene command
    # The certificate provided by the Blue Gene command must have this CN.


[security.blocks]
    # All of the values in this section can be refreshed by running refresh_config from bg_console.

all = dpmadmin
    # Comma separated list of users or groups allowed to execute all actions on blocks.

create =
    # Comma separated list of users or groups allowed to create blocks.

read =
    # Comma separated list of users or groups allowed to read blocks.

update =
    # Comma separated list of users or groups allowed to update blocks.

delete =
    # Comma separated list of users or groups allowed to delete blocks.

execute =
    # Comma separated list of users or groups allowed to execute blocks.

[master.server]
    # dpm_master_server configuration options

agent_listen_ports = [::1]:32041,127.0.0.1:32041
client_listen_ports = [::1]:32042,127.0.0.1:32042
    # The ports that the dpm_master_server will listen for connections on.
    # The format is a comma-separated list of host:port pairs.
    # host is an IP address or host name. IP addresses containing colons must be enclosed in [].
    # Link local ipv6 addresses must include the interface name appended after a % character.
    # port is a port number or service name.
    # The host and port are optional.
    # If the host is not specified the server will listen on any interface.
    # If the port is not specified the default port will be used (32041 and 32042).

logdir = /tmp
    # Default logging location for dpm_master_server and all managed binaries.

[master.client]

host = [::1]:32042,127.0.0.1:32042
    # The host and port to connect to. The dpm_master_server should be listening on the port.
    # The format is a comma-separated list of host:port pairs.
    # host is an IP address or host name. IP addresses containing colons must be enclosed in [].
    # port is a port number or service name.
    # The host and port are optional.
    # If the host is not specified the client will connect to localhost.
    # If the port is not specified the default port will be used (32042).


[master.agent]
    # dpm_agentd configuration options

logdir = /tmp
host = 127.0.0.1:32041
    # The host and port to connect to. The dpm_master_server server should be listening on the port.
    # The format is a comma-separated list of host:port pairs.
    # host is an IP address or host name. IP addresses containing colons must be enclosed in [].
    # port is a port number or service name.
    # The host and port are optional.
    # If the host is not specified the client will connect to localhost.
    # If the port is not specified the default port will be used (32041).

agentuid = dpmadmin


[master.binmap]
    # Maps an alias to a binary path.

dpm_master_server = /bgsys/drivers/ppcfloor/hlcs/sbin/dpm_server

[master.logdirs]
    # Maps aliases to logging directories.  By default, all binaries will log to logdir
    # in the [master.server] section.

[master.binargs]
    # List of arguments for each alias specified in the [master.binmap] section.
dpm_master_server =

[master.user]
    # Maps an alias to a user id under which it should run.
    # If an alias is not specified, it runs as the agentuid value in [master.agent].

foo_server = foo_id


[master.policy.host_list]
    # Comma separated list of hosts on which the binary associated with the alias may start.

dpm_master_server = 127.0.0.1


[master.policy.instances]
    # Policies for the number of instances of each alias are allowed.
    # Valid entries are 1 through 65535, the default if not specified is 1.

dpm_master_server = 1


[master.policy.failure]
    # Formatted failover policy.
    #
    # Terminology:
    # killed:        binary received a kill signal (not a stop message through dpm_master)
    # binary:        binary failed
    # agent:         the monitoring agent failed
    # failover:      run the binary that failed on the specified backup host
    # restart:       restart the binary on the same host
    # cleanup:       just clean up internal structures and let the binary go
    # retries:       number of times to attempt to restart the binary
    # failover_from: when it fails on this host...
    # failover_to:   where you want the failover to go
    # trigger:       event that causes a policy to be activated.  It can be "killed", "binary", or "agent".
    #
    # Each line has a policy_name as a key followed by a formatted policy.
    # The policy consists of a trigger and a complex behavior.
    # The complex behavior consists of a trigger, an action, a retry count and an
    # optional set of '|' separated failover pairs.
    #
    # Format: policy_name=trigger,[failover|restart|cleanup],<retries>,<failover_from:failover_to>|etc...
    #
    # Example: foo=binary,failover,2,9.5.45.37:9.5.45.34|9.5.45.37:9.5.45.34
    #
    # The 'foo' policy will failover to 9.5.45.34 if the associated binary dies on 9.5.45.37
    # and vice versa.  It will retry two times.
    # If the agent dies, it will not failover.
    # If failover is specified and no host is specified, it will fail over
    # to any other available host
agent_restart = agent,restart,3
server_restart = binary,restart,3
server_kill_restart = killed,restart,3

[master.policy.map]
    # Map comma separated list of named policies to an alias
    # alias=alias_restart,alias_failover
foo_server = agent_restart,server_restart

[master.startup]
    # startup options for dpm_master_server

start_servers=true
    # Option to start selected servers when dpm_master_server starts. Valid values
    # are true or false. If not specified, the default value is false.


[logging]
    # log4cxx configuration. For more information, see http://logging.apache.org/log4cxx/index.html

log4j.logger.dpm = INFO, default
    # dpm logger - Root for logging done by DPM components ('level' progression - TRACE, DEBUG, INFO, WARN, ERROR, FATAL)
log4j.additivity.dpm = false

log4j.logger.dpm.utility                = INFO   # Utility functions
log4j.logger.dpm.utility.cxxsockets     = WARN   # CxxSockets library
log4j.logger.dpm.master                 = INFO   # Dpm_Master


[logging.default]

log4j.appender.default = org.apache.log4j.ConsoleAppender
log4j.appender.default.layout = org.apache.log4j.PatternLayout
log4j.appender.default.layout.ConversionPattern = %d{yyyy-MM-dd HH:mm:ss.SSS} (%-5p) [%t] %c: %m%n

[logging.master]

log4j.appender.default=org.apache.log4j.ConsoleAppender
log4j.appender.default.layout=org.apache.log4j.PatternLayout
log4j.appender.default.layout.ConversionPattern=%d{yyyy-MM-dd HH:mm:ss.SSS} (%-5p) [%t] %X{ID}%X{ALIAS}%c: %m%n
